*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-image{
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0 1rem 0 1rem ;

}
#headerback img{
    width: 100%;
}
.items img {
    height: 200px;
    width: 150px;
}
#header-div{
    display: flex;
}
#header-div p{
    margin-top: 5px;
}
button{
    border-radius: 4px;
    background-color: rgb(11, 124, 237);
    width: 80px;
    height: 40px;
    margin-top: 10px;
    border-color: white;

}
#kart{
    height: 20px;
    width: 20px;
}
.cart-image{
    display: flex;
    justify-content: space-between;

}
.items{
    display: inline-block;
    height:200px;
    /* width: 100px; */
    padding: 10px;
    
}
span{
    color: white;
    font-size: larger;
    font-weight: 900;
}

.heading-text{
    position: absolute;
    color: white;
    padding: 20px;
    font-size: 60px;
}
#heading-text{
    font-size: small;
    margin-bottom: 20px;
}
@media (min-width:760px){
    .section{
        display: flex;
        justify-content: space-between;
        height: 400px;
    }
}
#footer-img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
footer{
margin-top: 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#footer-text{
    text-align: end;
}
@media  (max-width:600px) {
    .heading-text{
        font-size: small;
    }

    
}